/*

//Kyle Sinhart
//Abagale Shope
//Ruiwen Fu

*/
body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url("bulletbg.jpeg");
  background-color: #dbdfe5;
  background-size: 100%, 100%;
  padding-left: 10%;
  padding-right: 10%

}

table td{
  width: 50%;
  text-align: right;
}

img{
  width: 70%;
}

.table{
  width: 20%;
  position: relative;
  float: right;
}

.glogo{
  width: 5%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
